.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 2px 8px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1.0px );
  -webkit-backdrop-filter: blur( 1.0px );
}

@media (min-width: 576px) {
  .container{
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container{
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container{
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container{
    max-width: 1140px;
  }
}

.mg-bt{
  margin-bottom: .66rem;
}